# Keystore Configuration (NUNCA COMMITAR ESTE ARQUIVO!)
# Para gerar a keystore, execute:
# keytool -genkey -v -keystore mestre3dt-release.jks -keyalg RSA -keysize 2048 -validity 10000 -alias mestre3dt

KEYSTORE_FILE=mestre3dt-release.jks
KEYSTORE_PASSWORD=SuaSenhaDoKeystore
KEY_ALIAS=mestre3dt
KEY_PASSWORD=SuaSenhaDaChave
