name: Deploy GM Forge Web to GitHub Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

# Permissões necessárias para o GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload 'web' folder
        uses: actions/upload-pages-artifact@v3
        with:
          # Indica que seu site está dentro da pasta 'web'
          path: './web'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
